{% load static %}

<footer>
    <div class="about-container">
        <a href="{% url 'about page' %}" class="about-link">За БЛОК.bg</a>
        <a href="{% url 't-and-c page' %}" class='t-and-c-link'>Правила и условия за ползване</a>
        <a href="{% url 'privacy page' %}" class='privary-link'>Защита на личните данни</a>
    </div>
    <p class='copyright-p'>2022 Катерина Митова</p>
    <div class="github-icon-container"><a href="https://github.com/kmitova/blok_bg_dtl" class="github-link" target="_blank">
        <i class="fa-brands fa-github fa-lg"></i>
    </a></div>
</footer>