

{% extends 'partials/base.html' %}

{% load static %}

{% block page-content %}
    <div class="container">
      <div class="verify-container">
        <h2 class="verify-title">Преди да изтриете профила си, моля потвърдете, че това сте вие:</h2>
        <form action="{% url 'delete profile' pk=request.user.pk %}" method="post" class="delete-profile-form">
            {% csrf_token %}
            {{ form }}

{#            {{ form.confirm_password }}#}
            <button class="verify-btn" style="width: 20em;">Потвърждаване и изтриване</button>
        </form>
      </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
{% endblock %}